<section class="project-section">
  <nav>
    <app-breadcrumb
      [showIcon]="showIcon()"
      (iconClick)="handleIconChange()"
      (taskFilterChange)="onTaskFilterChange($event)"
    />
  </nav>
  <header class="project-header">
    @if (projectInfo()?.name; as name) {
      <app-project-name-editor [name]="name" (nameChange)="onProjectNameChange($event)" />
    }
  </header>

  <main class="project-main-container">
    @for (section of projectInfo()?.sections; track section.id) {
    <app-project-section
      [sectionInfo]="section"
      [taskFilter]="taskFilter()"
      (taskToggle)="updateTaskToCompleted($event)"
      (taskCreate)="onTaskCreate($event)"
      (taskRename)="onTaskRename($event)"
      (taskDelete)="onTaskDelete($event)"
      (taskEdit)="onTaskEdit($event)"
      (taskSubtaskCreate)="onTaskSubtaskCreate($event)"
      (sectionUpdate)="onSectionUpdate($event)"
      (sectionDelete)="onSectionDelete($event)"
    />
    }
  <app-section-adder />
  </main>
</section>
